section.help-you
  .help-you__inner.page__container
    .help-you__content
      .help-you__info
        h2.help-you__title Чем я могу быть полезен вам
        article.help-you__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .help-you__skills.skills
        -
          let skills = {
            'Front-end':['HTML5','CSS3','Javascript','JQ и Vue.js']
            ,'WorkFlow':['git','terminal','Gulp','Webpack']
          }
        each value, title in skills
          .skills__row
            .skills__title=title
            each row in value
              .skills__box
                .skills__item
                  svg(viewBox="0 0 138 138")
                    circle(
                    r="65"
                    cx="50%"
                    cy="50%"
                    fill="none"
                    class="svg-circle svg-circle_first"
                    )
                    circle(
                    r="65"
                    cx="50%"
                    cy="50%"
                    class="svg-circle svg-circle_second svg-circle_r90"
                    )
                  .skills__name= row


